
fastapi
uvicorn[standard]

# AI & LLM
langchain
langchain-community
langchain-ollama
langchain-google-genai
pymupdf

# Database (SQLAlchemy + Async support)
sqlalchemy
psycopg2-binary  

# Authentication (JWT)
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# Utils
python-multipart
pydantic-settings

python-dotenv

pydantic[email]

sentence-transformers
pgvector


