.job-card {
  background: #ffffff;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #e5e7eb;
  margin-bottom: 18px;
  transition: 0.2s ease;
}

.job-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}

/*header */

.job-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.job-title {
  display: flex;
  gap: 12px;
}

.job-icon {
  font-size: 20px;
}

.job-title h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.company {
  font-size: 13px;
  color: #6b7280;
  margin-top: 4px;
}

/* match score*/

.match-score {
  text-align: right;
  color: #2563eb;
  font-weight: 600;
  font-size: 14px;
}

.match-score small {
  display: block;
  font-size: 11px;
  color: #6b7280;
  font-weight: 400;
}

/* description */

.job-description {
  margin: 14px 0;
  font-size: 13px;
  color: #374151;
  line-height: 1.5;
}

.job-description strong {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  color: #111827;
}

/* footer */

.job-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.apply-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.apply-btn:hover {
  background: #1d4ed8;
}

/* save button */

.save-btn {
  background: white;
  border: 1px solid #e5e7eb;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #6b7280;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.save-btn:hover {
  background: #f3f4f6;
  color: #2563eb;
  border-color: #2563eb;
}
